name: Sync Image to Aliyun

on:
  workflow_dispatch: # 手动触发执行
    inputs:
      source_image:
        description: 'Docker Hub hanqingdocker/yolov8:v1'
        required: true
        default: 'nginx:latest'
      target_tag:
        description: 'yolov8-aliyun:v1'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 1. 登录到 GitHub Container Registry (可选，如果你想存一份在 GitHub)
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 2. 登录到 阿里云 ACR
      - name: Login to Aliyun ACR
        uses: docker/login-action@v3
        with:
          registry: crpi-gub8j4sqs24nam8o.cn-chengdu.personal.cr.aliyuncs.com # 替换为你的 ACR 地址，或直接写死
          username: ${{ secrets.ALICE_USERNAME }}
          password: ${{ secrets.ALICE_PASSWORD }}

      # 3. 从 Docker Hub 拉取镜像
      - name: Pull from Docker Hub
        run: docker pull ${{ github.event.inputs.source_image }}

      # 4. 打标签并推送到 GitHub (GHCR)
      - name: Tag and Push to GHCR
        run: |
          IMAGE_NAME=$(echo "${{ github.event.inputs.source_image }}" | cut -d/ -f2)
          docker tag ${{ github.event.inputs.source_image }} ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME
          docker push ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME

      # 5. 打标签并推送到 阿里云 ACR
      - name: Tag and Push to Aliyun
        run: |
          # 请将下面的地址替换为你自己的阿里云 Registry 地址和命名空间
          REGISTRY=crpi-gub8j4sqs24nam8o.cn-chengdu.personal.cr.aliyuncs.com
          NAMESPACE=hanqing-docker-aliyu
          docker tag ${{ github.event.inputs.source_image }} $REGISTRY/$NAMESPACE/${{ github.event.inputs.target_tag }}
          docker push $REGISTRY/$NAMESPACE/${{ github.event.inputs.target_tag }}
