name: Sync Image to Aliyun

on:
  workflow_dispatch:
    inputs:
      source_image:
        description: 'Docker Hub 源镜像'
        required: true
        default: 'hanqingdocker/yolov8:v1' # 这里是默认值，会自动出现在框里
      target_tag:
        description: '阿里云镜像标签名'
        required: true
        default: 'yolov8-aliyun:v1'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 1. 登录阿里云容器镜像服务
      - name: Login to Aliyun ACR
        uses: docker/login-action@v3
        with:
          # 使用你提供的成都节点地址
          registry: crpi-gub8j4sqs24nam8o.cn-chengdu.personal.cr.aliyuncs.com
          username: ${{ secrets.ALICE_USERNAME }}
          password: ${{ secrets.ALICE_PASSWORD }}

      # 2. 从 Docker Hub 拉取镜像
      - name: Pull from Docker Hub
        run: docker pull ${{ github.event.inputs.source_image }}

      # 3. 打标签并推送
      - name: Tag and Push to Aliyun
        run: |
          REGISTRY="crpi-gub8j4sqs24nam8o.cn-chengdu.personal.cr.aliyuncs.com"
          NAMESPACE="hanqingdocker"
          
          TARGET="$REGISTRY/$NAMESPACE/${{ github.event.inputs.target_tag }}"
          
          docker tag ${{ github.event.inputs.source_image }} $TARGET
          docker push $TARGET
